
/* Adds padding between icon and text on sidebar */
.sidebar ul li a i {
    margin-right: 5px;
}

.navbar-right {
    margin-right: 15px;
    margin-top: 8px;
}

.dropdown-menu a.active {
    background-color: #eee;
}


/* Bootstrap Angular Required CSS */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
