<!DOCTYPE html>
<html ng-app="CMApp">  
  <head>
    <title>Wisely Command Center</title>

    <!-- CSS Imports -->
    <!-- Bootstrap Core CSS -->
    <link href="sb-admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="sb-admin/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="sb-admin/css/plugins/timeline.css" rel="stylesheet">

    <!-- SBAdmin Custom CSS -->
    <link href="sb-admin/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="sb-admin/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts and Icons -->
    <link href="sb-admin/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Command Center Custom CSS -->
    <link href="css/cm.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" ng-controller="CMNavController">
            <!-- TODO (migchez): Add wisely logo -->
            <div class="navbar-header">  
              <a class="navbar-brand" href="/">Wisely Command Center</a>
            </div>
            <!-- /.navbar-header -->

            <!-- TODO (migchez): Remove that annoying space for active tab CSS and add some styling -->
            <div class="btn-group nav navbar-top-links navbar-right" dropdown is-open="status.isopen">
              <button type="button" class="btn btn-primary dropdown-toggle">
                <i class="fa fa-database fa-fw"></i>
                {{dbStage}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <!-- TODO (migchez): Clean up view model interaction -->
                <li><a class="{{dbStageClasses.Test}}" ng-click="dbStageUpdated('Test')"><i class="fa fa-smile-o fa-fw"></i> Test</a></li>
                <li><a class="{{dbStageClasses.Staging}}" ng-click="dbStageUpdated('Staging')"><i class="fa fa-meh-o fa-fw"></i> Staging</a></li>
                <li><a class="{{dbStageClasses.Prod}}" ng-click="dbStageUpdated('Prod')"><i class="fa fa-frown-o fa-fw"></i> Prod</a></li>
              </ul>
            </div>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                          <!-- TODO (migchez): Pick appropirate icon -->
                          <a class="{{tabClasses.merchant}}" href="/#/merchant"><i class="fa fa-tags fa-fw"></i>Merchants</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Inner view based on navigation tab -->
        <div ng-view id="page-wrapper"></div>

    </div>
    <!-- /#wrapper -->

    <!-- JS Imports -->
    <!-- Angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="//code.angularjs.org/1.2.23/angular-route.min.js"></script>
    
    <!-- Bootstrap Angular -->
    <script src="bootstrap-angular/ui-bootstrap-0.11.0.min.js"></script>

    <!-- Application JS -->
    <script src="js/CMApp.js"></script>
    <script src="js/CMControllers.js"></script>

  </body>
</html>
